APP_RELEASE=not-set
APP_STAND=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DOMAIN=auth.localhost
APP_PUBLIC_PATH=/auth
APP_SECRET_KEY=super-secret-key
REDIRECT_URI=https://qliqy.org

VERIFICATION_TOKEN_SECRET=verification-token-secret
RESET_PASSWORD_TOKEN_SECRET=reset-password-token-secret

GUNICORN_WORKERS_PER_CORE=1.0
GUNICORN_MAX_WORKERS=4
GUNICORN_LOG_LEVEL=info
GUNICORN_GRACEFUL_TIMEOUT=600
GUNICORN_TIMEOUT=1200
GUNICORN_KEEP_ALIVE=6

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=qliqy-password

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=qliqy
POSTGRES_PASSWORD=qliqy-password
POSTGRES_DB=qliqy_auth
POSTGRES_EXPOSED_PORT=5432

RABBITMQ_HOST=localhost
RABBITMQ_USER=qliqy
RABBITMQ_PASSWORD=qliqy-password
RABBITMQ_PORT=5672

TRAEFIK_DOMAIN=traefik.localhost
TRAEFIK_BASIC_AUTH=admin:$$apr
TRAEFIK_EMAIL=support@qliqy.io

MAILER_ROUTING_KEY=mailer_requests
